<footer class="bg-gray-900 text-white pt-16 pb-8">
    <div class="container mx-auto px-4">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12 mb-12"
      >
        <div>
          <img src="/logo.webp" class="size-12" alt="logo">
          <p class="text-gray-400">
            Soluciones jurídicas y financieras integrales para empresas y
            particulares.
          </p>
        </div>
        <div>
          <h4 class="text-lg font-semibold mb-6">Enlaces Rápidos</h4>
          <ul class="space-y-4">
            <li>
              <a href="#inicio" class="text-gray-400 hover:text-white"
                >Inicio</a
              >
            </li>
            <li>
              <a href="#servicios" class="text-gray-400 hover:text-white"
                >Servicios</a
              >
            </li>
            <li>
              <a href="#nosotros" class="text-gray-400 hover:text-white"
                >Nosotros</a
              >
            </li>
            <li>
              <a href="#testimonios" class="text-gray-400 hover:text-white"
                >Testimonios</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h4 class="text-lg font-semibold mb-6">Servicios</h4>
          <ul class="space-y-4">
            <li class="text-gray-400">Asesoría Fiscal</li>
            <li class="text-gray-400">Asesoría Legal</li>
            <li class="text-gray-400">Consultoría Financiera</li>
            <li class="text-gray-400">Gestión Empresarial</li>
          </ul>
        </div>
        <div>
          <h4 class="text-lg font-semibold mb-6">Contacto</h4>
          <ul class="space-y-4">
            <li class="text-gray-400">Calle Virgen, 41</li>
            <li class="text-gray-400">02600 Villarrobledo</li>
            <li class="text-gray-400">+34 967 14 15 14</li>
            <li class="text-gray-400">info@asesoriajuridica.es</li>
          </ul>
        </div>
      </div>
      <div class="border-t border-gray-800 pt-8">
        <div class="flex flex-col md:flex-row justify-between items-center">
          <p class="text-gray-400 text-sm">
            © 2025 Gestoría Jiménez Martínez. Todos los derechos
            reservados.
          </p>
          <div class="flex space-x-6 mt-4 md:mt-0">
            <a href="#" class="text-gray-400 hover:text-white">
              <i class="ri-linkedin-fill text-xl"></i>
            </a>
            <a href="#" class="text-gray-400 hover:text-white">
              <i class="ri-twitter-fill text-xl"></i>
            </a>
            <a href="#" class="text-gray-400 hover:text-white">
              <i class="ri-facebook-fill text-xl"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>