<section id="inicio" class="hero-slider pt-24">
    <div class="slide active">
      <div
        class="relative h-[600px] bg-cover bg-center opacity-100"
        style="background-image: url('/hall.jpg');"
      >
        <div class="absolute inset-0  bg-opacity-50"></div>
        <div class="container mx-auto px-4 h-full flex items-end pb-9">
          <div class="text-white md:max-w-2xl md:block hidden">
            <h1 class="md:text-5xl text-2xl font-bold mb-6">
              Soluciones Jurídicas y Financieras Personalizadas
            </h1>
            <p class="text-xl mb-8">
              Expertos en asesoramiento legal y financiero con más de 20
              años de experiencia ayudando a empresas y particulares.
            </p>
            <button
              class="bg-[#0F4C81] text-white md:px-8 px-5 py-3 rounded-lg hover:bg-opacity-90 transition-all text-lg"
            >
              Solicitar Asesoramiento
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  