---
import testimonios from '../data/testimonios.json'
---

<section id="testimonios" class="py-20 bg-gray-50">
    <div class="container mx-auto px-4">
      <div class="text-center mb-16">
        <h2
          class="text-4xl font-['Playfair_Display'] font-bold text-gray-900 mb-4"
        >
          Lo Que Dicen Nuestros Clientes
        </h2>
        <p class="text-gray-600 max-w-2xl mx-auto">
          La satisfacción de nuestros clientes es nuestro mejor aval
        </p>
      </div>
      <div class="testimonial-slider">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {testimonios.map((testimonio) => (
            <div class="bg-white p-8 rounded-lg shadow-sm">
                <div class="flex items-center mb-6">
                <div
                    class="w-12 h-12 bg-gray-200 bg-opacity-10 rounded-full flex items-center justify-center"
                >
                    <i class="ri-user-line text-[#0F4C81]"></i>
                </div>
                <div class="ml-4">
                    <h4 class="font-semibold">{testimonio.nombre}</h4>
                </div>
                </div>
                <p class="text-gray-600">
                "{testimonio.reseña}"
                </p>
            </div>
            ))}
        </div>
      </div>
    </div>
  </section>