<div class="bg-[#0F4C81] text-white py-2">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <div class="flex items-center space-x-6">
        <div class="flex items-center space-x-2">
            <i class="ri-phone-line"></i>              
          <span class="md:text-base text-xs">+34 967 14 15 14</span>
        </div>
        <div class="flex items-center space-x-2">
            <i class="ri-mail-line"></i>              
          <span class="md:text-base text-xs">info@asesoriajuridica.es</span>
        </div>
      </div>
    </div>
  </div>